body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.button a {
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  color: black;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.motto {
  display: flex;
  height: 40vh;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.motto h1 {
  font-size: 40px;
  font-weight: 700;
}

.motto p {
  font-weight: 500;
  color: gray;
}

.container {
  justify-content: space-between;
  display: flex;
}

.col-1 {
  width: 60%;
}

.slideshow-container {
  width: 100%;

  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.article {
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
  color: gray;
}

.profile {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.col-img {
  width: 5%;
}

.col-profile {
  width: 30%;
}

.col-2 {
  width: 35%;
  background-color: #4169e115;
}
